<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace名称空间  对应接口类-->

<mapper namespace="com.yunheng.Mapper.AdminMapper">

    <select id="queryAdminById" parameterType="String" resultType="com.yunheng.Entity.Admin">
        select * from tb_admin where id=#{id}
    </select>


</mapper>